@model MebelSayt.Models.Register
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/theme/css/style.css">
    <link rel="stylesheet" href="~/theme/css/account.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <title>İstifadəçi Girişi</title>



</head>
<body class="text-center">
    <div class="login col-md-5 p-3">


        <form class="form-signin" action="/account/login" method="post">
            @Html.AntiForgeryToken()
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

            <h1 class="h3 mb-3 font-weight-normal">Qeydiyatdan Keç</h1>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <label for="inputName" class="sr-only">Ad</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Adınız", id = "inputUsername" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            <label for="inputSurname" class="sr-only">Soyad</label>
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Soyadınız" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            <label for="inputUsername" class="sr-only">İstifadəçi adı</label>
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "İstifadəçi adınız" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            <label for="inputEmail" class="sr-only">Email</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Emailiniz" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            <label for="inputPassword" class="sr-only">Şifrə</label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Şifrəniz" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        <label for="inputPassword" class="sr-only">Şifrə təkrar</label>
            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control",type="password",placeholder="Şifrə təkrar",id="password" } })
            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
            <div class="mb-3">
                <label style="float:left; margin-left:3px;">
                    <a href="/Account/Login">İstifadəçi Girişi</a>
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Qeydiyat Keç</button>

        </form>


        <a href="/Home"><i class="fa fa-home"></i> Ana Səhifəyə Qayıt</a>


    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
